.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;

  img {
    width: 64px;
    height: 64px;
    transition: transform 0.1s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

}