@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');
@import 'npm:@csstools/normalize.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$bg-color: rgb(0, 22, 68);
$font-family: roboto, sans-serif;

body {
  background-color: $bg-color;
  font-family: $font-family;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
